Repository insights-io/Insight: changes, and which Atlantis projects are due for each by the changed paths.
All: infrastructure/terraform/github, infrastructure/terraform/staging

atlantis.yaml:

---
version: 3
projects:
  - dir: infrastructure/terraform/github
    terraform_version: v0.12.26
    autoplan:
      when_modified: ['*.tf']
      enabled: true
  - dir: infrastructure/terraform/staging
    terraform_version: v0.12.26
    autoplan:
      when_modified: ['**/*.tf']
      enabled: true

fixes
  infrastructure/terraform/github/repositories.tf
  infrastructure/terraform/staging/browser/providers.tf
  infrastructure/terraform/staging/dns/providers.tf
Due: infrastructure/terraform/github, infrastructure/terraform/staging

atlantis 15
  infrastructure/k8/development/atlantis.yaml
  infrastructure/terraform/github/backend.tf
  infrastructure/terraform/management/budget/backend.tf
  infrastructure/terraform/staging/browser/backend.tf
  infrastructure/terraform/staging/dns/backend.tf
Due: infrastructure/terraform/github, infrastructure/terraform/staging

versions
  infrastructure/terraform/github/backend.tf
  infrastructure/terraform/github/versions.tf
  infrastructure/terraform/management/budget/backend.tf
  infrastructure/terraform/management/budget/versions.tf
  infrastructure/terraform/staging/browser/backend.tf
  infrastructure/terraform/staging/browser/providers.tf
  infrastructure/terraform/staging/browser/versions.tf
  infrastructure/terraform/staging/dns/backend.tf
  infrastructure/terraform/staging/dns/providers.tf
  infrastructure/terraform/staging/dns/versions.tf
Due: infrastructure/terraform/github, infrastructure/terraform/staging

test
  infrastructure/terraform/modules/browser/versions.tf
Due: none

work
  infrastructure/terraform/staging/browser/versions.tf
Due: infrastructure/terraform/staging

billing
  infrastructure/terraform/modules/billing/main.tf
  infrastructure/terraform/modules/billing/variables.tf
  infrastructure/terraform/modules/billing/versions.tf
  infrastructure/terraform/staging/billing/backend.tf
  infrastructure/terraform/staging/billing/data_sources.tf
  infrastructure/terraform/staging/billing/main.tf
  infrastructure/terraform/staging/billing/providers.tf
  infrastructure/terraform/staging/billing/versions.tf
Due: infrastructure/terraform/staging

add api key
  infrastructure/k8/development/atlantis.yaml
Due: none

work
  infrastructure/k8/development/atlantis.yaml
  infrastructure/terraform/staging/billing/providers.tf
Due: infrastructure/terraform/staging

webhook
  infrastructure/terraform/modules/billing/main.tf
  infrastructure/terraform/modules/billing/variables.tf
  infrastructure/terraform/staging/billing/main.tf
Due: infrastructure/terraform/staging

fix ref
  infrastructure/terraform/modules/billing/main.tf
Due: none

fix ammount
  infrastructure/terraform/modules/billing/main.tf
Due: none

price
  infrastructure/terraform/modules/billing/main.tf
Due: none

decimal price
  infrastructure/terraform/modules/billing/main.tf
Due: none

add stripe secrets
  backend/billing/billing-api/k8/base/deployment.yaml
Due: none

per unit
  infrastructure/terraform/modules/billing/main.tf
Due: none

feat(infra): bump terraform (#624)
  backend/billing/billing-api/k8/base/deployment.yaml
  infrastructure/k8/development/atlantis.yaml
  infrastructure/terraform/github/backend.tf
  infrastructure/terraform/github/repositories.tf
  infrastructure/terraform/github/versions.tf
  infrastructure/terraform/management/budget/backend.tf
  infrastructure/terraform/management/budget/providers.tf
  infrastructure/terraform/management/budget/versions.tf
  infrastructure/terraform/modules/billing/main.tf
  infrastructure/terraform/modules/billing/variables.tf
  infrastructure/terraform/modules/billing/versions.tf
  infrastructure/terraform/modules/browser/versions.tf
  infrastructure/terraform/staging/billing/backend.tf
  infrastructure/terraform/staging/billing/data_sources.tf
  infrastructure/terraform/staging/billing/main.tf
  infrastructure/terraform/staging/billing/providers.tf
  infrastructure/terraform/staging/billing/versions.tf
  infrastructure/terraform/staging/browser/providers.tf
  infrastructure/terraform/staging/browser/versions.tf
  infrastructure/terraform/staging/dns/backend.tf
  infrastructure/terraform/staging/dns/providers.tf
  infrastructure/terraform/staging/dns/versions.tf
Due: infrastructure/terraform/github, infrastructure/terraform/staging

chore(deps): update flyway/flyway docker tag to v6.5.7
  backend/auth/auth-api/migrations/postgres/Dockerfile
  backend/billing/billing-api/migrations/postgres/Dockerfile
  backend/session/session-api/migrations/postgres/Dockerfile
Due: none

fix(deps): update dependency @amcharts/amcharts4 to v4.10.4
  frontend/app/package.json
  yarn.lock
Due: none

fix(deps): update dependency baseui to v9.100.0
  frontend/app/package.json
  frontend/homepage/package.json
  frontend/shared/ui/package.json
  frontend/try/package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-react to v7.21.0
  package.json
  yarn.lock
Due: none

feat(frontend/app): show subscription/plan details in UI
  backend/auth/auth-api/src/test/java/com/meemaw/auth/organization/resource/v1/OrganizationResourceImplTest.java
  backend/beacon/beacon-api/src/test/java/com/meemaw/beacon/resource/v1/BeaconBeatResourceProcessingTest.java
  backend/billing/billing-api/migrations/postgres/sql/V1__billing_api_initial.sql
  backend/billing/billing-api/src/main/java/com/meemaw/billing/payment/provider/PaymentProvider.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/payment/provider/stripe/StripePaymentProvider.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/service/BillingService.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/subscription/model/dto/CreateSubscriptionDTO.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/subscription/model/dto/PriceDTO.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/subscription/model/dto/SubscriptionDTO.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/subscription/resource/v1/SubscriptionResource.java
  backend/billing/billing-api/src/main/java/com/meemaw/billing/subscription/resource/v1/SubscriptionResourceImpl.java
  backend/billing/billing-api/src/main/resources/application.properties
  backend/billing/billing-api/src/test/java/com/meemaw/billing/service/BillingServiceTest.java
  backend/billing/billing-api/src/test/java/com/meemaw/billing/subscription/resource/v1/SubscriptionResourceImplTest.java
  backend/events/search-indexer/src/test/java/com/meemaw/events/search/indexer/AbstractSearchIndexerTest.java
  backend/session/session-api/src/test/java/com/meemaw/session/events/resource/v1/EventsResourceImplTest.java
  backend/session/session-api/src/test/java/com/meemaw/session/insights/resource/v1/InsightResourceImplTest.java
  backend/session/session-api/src/test/java/com/meemaw/session/sessions/resource/v1/SessionResourceImplTest.java
  backend/shared/rest/src/main/java/com/meemaw/shared/SharedConstants.java
  backend/shared/testing-utils/src/main/java/com/meemaw/test/setup/AuthApiTestProvider.java
  frontend/app/e2e/pages/Sessions.ts
  frontend/app/src/modules/auth/middleware/authMiddleware.ts
  frontend/app/src/modules/tracing/index.ts
  frontend/shared/sdk/src/billing/subscriptions/resource.ts
  frontend/shared/sdk/src/billing/subscriptions/utils.ts
  frontend/shared/types/src/billing.ts
Due: none

chore(deps): disable react/require-default-props rule
  .eslintrc.production.js
Due: none

Deploying to gh-pages from @ ddff47507f64f3bf8131bde5601b2432ed9ba648 🚀
  app/storybook/renovate-eslint-plugin-react-7.x/main.b9a9118c604978ee25bc.bundle.js
Due: none

fixes
  frontend/app/src/modules/insights/components/charts/CountByLocationMapChart/CountByLocationMapChart.tsx
  frontend/app/src/modules/tracing/index.ts
  frontend/app/src/test/pages/_document.spec.ts
Due: none

fix build
  frontend/app/src/modules/settings/components/OrganizationSettings/Billing/BillingOrganizationSettings.tsx
Due: none

UI
  frontend/app/e2e/pages/AccountSettings/BillingSettings.ts
  frontend/app/e2e/specs/account-settings/organization-settings.e2e.ts
  frontend/app/src/modules/billing/components/YourPlan/YourPlan.stories.tsx
  frontend/app/src/modules/billing/components/YourPlan/YourPlan.tsx
  frontend/app/src/modules/billing/hooks/useSubscription.ts
  frontend/app/src/modules/settings/components/OrganizationSettings/Billing/BillingOrganizationSettings.stories.tsx
  frontend/app/src/modules/settings/components/OrganizationSettings/Billing/BillingOrganizationSettings.tsx
  frontend/app/src/modules/settings/components/OrganizationSettings/OrganizationSettings.tsx
  frontend/shared/sdk/src/billing/subscriptions/resource.ts
  frontend/shared/sdk/src/core/utils.ts
Due: none
